<!DOCTYPE html>
<html lang="en">

<%- include("../Component/header.ejs") %>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">


                <%- include("../Pages/unauthorized/unauthorized.ejs") %>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include("../Component/footer.ejs") %>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Logout Modal-->
    <%- include("../Component/scripts.ejs") %>
    <%- include("../Pages/unauthorized/unauthorizedscripts.ejs") %>

</body>

</html>