<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Enrollment System </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active " >
        <a class="nav-link <%= currentRoute === '/' ? 'display' : '' %>" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Master</span>
        </a>
        
        <div id="collapseTwo" class="collapse <%= currentRoute === '/admin_users' || currentRoute === '/student_info' ? 'display' : '' %>" 
             aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Admin:</h6>
                <a class="collapse-item <%= currentRoute === '/admin_users' ? 'clicked' : 'not-clicked' %>" href="/admin_users">Admin Users</a>
                <a class="collapse-item <%= currentRoute === '/student_info' ? 'clicked' : 'not-clicked' %>" href="/student_info">Student info</a>
            </div>
        </div>
    </li>
    
    
    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse2"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-address-card"></i>
            
            <span>Students</span>
        </a>
        <div id="collapse2" class="collapse <%= currentRoute === '/student_users' || currentRoute === '/student_grade' ? 'display' : '' %>" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Info:</h6>
                <a class="collapse-item <%= currentRoute === '/student_users' ? 'clicked' : 'not-clicked' %>" href="/student_users">Student Users</a>


                <a class="collapse-item <%= currentRoute === '/student_grade' ? 'clicked' : 'not-clicked' %>" href="/student_grade">Student Grade</a>
                   
            </div>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-address-card"></i>
            
            <span>Subjects</span>
        </a>
        <div id="collapse3" class="collapse <%= currentRoute === '/subjects' || currentRoute === '/subjects_price' ? 'display' : '' %>" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Info:</h6>
                <a class="collapse-item <%= currentRoute === '/subjects' ? 'clicked' : 'not-clicked' %>" href="/subjects">Subjects</a>
                <a class="collapse-item <%= currentRoute === '/subjects_price' ? 'clicked' : 'not-clicked' %>" href="/subjects_price">Subjects Price</a>
                
            </div>
        </div>
    </li>


 
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse4"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Tuition</span>
        </a>
        <div id="collapse4" class="collapse <%= currentRoute === '/student_tuition' || currentRoute === '/transaction_tuition' ? 'display' : '' %>" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Info:</h6>
                <a class="collapse-item <%= currentRoute === '/student_tuition' ? 'clicked' : 'not-clicked' %>" href="/student_tuition">Student Tuition fee</a>
                <a class="collapse-item <%= currentRoute === '/transaction_tuition' ? 'clicked' : 'not-clicked' %>" href="/transaction_tuition">Transaction Tuition fee</a>
            </div>
        </div>
    </li>
</ul>